<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CategoriaServlet</servlet-name>
        <servlet-class>com.ipn.mx.controlador.CategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoServlet</servlet-name>
        <servlet-class>com.ipn.mx.controlador.ProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntradaServlet</servlet-name>
        <servlet-class>com.ipn.mx.controlador.EntradaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalidaServlet</servlet-name>
        <servlet-class>com.ipn.mx.controlador.SalidaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventarioServlet</servlet-name>
        <servlet-class>com.ipn.mx.controlador.InventarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraficasServlet</servlet-name>
        <servlet-class>com.ipn.mx.controlador.GraficasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoriaServlet</servlet-name>
        <url-pattern>/CategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoServlet</servlet-name>
        <url-pattern>/ProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntradaServlet</servlet-name>
        <url-pattern>/EntradaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalidaServlet</servlet-name>
        <url-pattern>/SalidaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventarioServlet</servlet-name>
        <url-pattern>/InventarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraficasServlet</servlet-name>
        <url-pattern>/GraficasServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
